{% extends "layout.html" %}

{% block head %}
<style>
.addButton {
    width: 50%;
    max-width: 200px;
    height: 5em;
}
</style>
<script src="{{ url_for('static', filename='js/sounds.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id="page" class="container" style="background-color: white;">
	<div class="title">
		<h2>Puzzle</h2>
        <p><span class="byline">Progess Tracker.</span></p>
        <div class="progress" style="width:80%; margin: auto;">
          <div class="progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ data.pieces / 9000 * 100 }}"
          aria-valuemin="0" aria-valuemax="100" style="width:{{ data.pieces / 9000 * 100 }}%; background-color: #77a7ff;">
            <span id="pieces_percentage">{{  '{0:0.2f}'.format(data.pieces / 9000 * 100)  }}</span>%
          </div>
        </div>
	</div>
    <p><span id="pieces_total">{{ data.pieces }}</span> pieces connected.</p>
    <p><span id="pieces_session">{{ data.last_session }}</span> in last/current session.</p>
  <hr>
   {% if data.status == 'END' %}
    <button class="btn-sm" name="actiontype" type="submit" value="STA" data-action="start">
        START
    </button>
   {% else %}
    <button class="btn-lg addButton" name="actiontype" type="submit" value="ADD" onclick="playSound('anotherone');" data-action="add">
        ADD
    </button>
    <hr>
    <p>Current session started at <span id="session_started">{{ data.time_pretty }}</span></p>
    <button class="btn-sm" name="actiontype" type="submit" value="END" data-action="end">
        END
    </button>
   {% endif %}
  <hr>
  <div>
      <b>Time spent:</b><br>
      <span id="days_elapsed">{{ data['total_seconds']['days'] }}</span> days,
      <span id="hours_elapsed">{{ data['total_seconds']['hours'] }}</span> hours, and
      <span id="minutes_elapsed">{{ data['total_seconds']['minutes'] }}</span> minutes.<br>
      <b>Avg. time per piece:</b><br>{{ data['time_per_piece'] }} seconds.<br>
      <b>Estimated time to completed:</b><br>
      <span id="days_remaining">{{ data['time_remaining']['days'] }}</span> days,
      <span id="hours_remaining">{{ data['time_remaining']['hours'] }}</span> hours, and
      <span id="minutes_remaining">{{ data['time_remaining']['minutes'] }}</span> minutes.<br>
  </div>
  <hr>
  <button id="refresh-details" value="loadExtendedData">Load extended data</button>
  <div id="details" hidden>
    <br>
    <span id="details-days"></span>
    <table id="details-table" class="table md-6"></table>

  </div>
</div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    var buttons = document.getElementsByTagName("button");

    for (let button of buttons) {
      button.onclick = () => {

        var action = button.value;

        if (action == "ADD") {
          send_action(action);
          playSound('anotherone');
          setTimeout(function(){
              refresh_data();
          }, 50);
        }
        if (action == 'STA' || action == 'END') {
          send_action(action);
          setTimeout(function(){
              location.reload();
          }, 200);
          ;
        }
        if (action == "loadExtendedData") {
          extended_data()
        }

      }
    }
  });

  function send_action(action) {
    const request = new XMLHttpRequest();
    request.open('GET', `./${action}`);
    request.onload = () => {
      const response = request;
    };
    request.send();
  };

  function refresh_data() {
    const request = new XMLHttpRequest();
    request.open('GET', './info');
    request.onload = () => {
      const response = JSON.parse(request.responseText);
      document.getElementById('pieces_session').innerHTML = response['last_session'];
      document.getElementById('pieces_total').innerHTML = response['pieces'];
      var percentage = Math.round((response['pieces'] / 9000 * 100) * 100) / 100;
      document.getElementById('pieces_percentage').innerHTML = percentage;
    }
    request.send();
  }

  function extended_data() {

    const request = new XMLHttpRequest();

    request.open('GET', './details');
    request.onload = () => {

      var details = document.getElementById('details');
      var days_span = document.getElementById("details-days");
      var recents_table = document.getElementById("details-table");

      if ( request.status != 200 ) {
        console.log("Error getting details..");
        details.hidden = true;
        return;
      }

      details.hidden = false;

      const response = JSON.parse(request.responseText);

      // Today + Yesterday data
      days_span.innerHTML = "";
      for ( let day of ['today','yesterday']) {
        var pieces = response[day]['PIECES']
        var duration = Math.round( response[day]['DURATION'] * 10 / 60 ) / 10
        var rate = Math.round( response[day]['DURATION'] / response[day]['PIECES'] )
        var text = `${pieces} pieces collected ${day} in ${duration} minutes at ${rate} seconds per piece.`
        var p = document.createElement('p')
        p.appendChild( document.createTextNode(text) );
        days_span.appendChild(p)
      }


      // RECENT SESSIONS TABLE
      recents_table.innerHTML = "";

      var rows = ['START', 'DURATION', 'PIECES', 'RATE'];

      // Create header row
      var tr = document.createElement("tr");
      for ( rowHeader of rows) {
        var th = document.createElement("th");
        th.appendChild( document.createTextNode(rowHeader));
        tr.appendChild(th);
      }
      recents_table.appendChild(tr);

      // Create rows with data
      for ( let row of response.recent) {
          var tr = document.createElement("tr");
          for (let col of rows) {
              if ( col == 'RATE' ) { // Calculate rate
                value = Math.round( row['DURATION'] / row['PIECES'] )
              } else if (col == 'DURATION') { // Change duration from seconds to minutes
                value = Math.round( ( row[col] * 10 ) / 60 ) / 10 ;
              } else {
                value = row[col];
              }
              var td = document.createElement("td");
              td.appendChild( document.createTextNode(value));
              tr.appendChild(td);
          }
          recents_table.appendChild(tr);
      }
    }
    request.send();
  }
</script>
{% endblock %}
