<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>KOTEK.CO</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" type="text/css" media="all" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://kit.fontawesome.com/26c3f25653.js"></script>
<script src="{{ url_for('static', filename='js/canvasjs.min.js') }}"></script>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes container">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</html>
