{% set navigation_bar = [
    ('/lunch-scraper', 'lunchscraper', 'Lunch Scraper'),
] -%}
{% set active_page = active_page|default('index') -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>

<title>KOTEK.CO</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" type="text/css" media="all" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<script src="https://kit.fontawesome.com/26c3f25653.js"></script>
<script src="{{ url_for('static', filename='js/canvasjs.min.js') }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-80246081-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-80246081-5');
</script>

{% block head %}{% endblock %}

</head>
<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a href="/"><img src="{{ url_for('static', filename='logo.png')}}" style="height:70px;"></a></h1>
	</div>
	<div id="menu" style="{% if hide_menu %}display: none;{% endif %}">
		<ul>
    {% for href, id, caption in navigation_bar %}
			<li{% if id == active_page %} class="current_page_item" {% endif %}><a href="{{href|e}}" accesskey="1" title="">{{caption|e}}</a></li>
    {% endfor %}
		</ul>
	</div>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes container">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block body %}{% endblock %}


<div id="copyright" class="container">
{% block footer %}
	<p><a href="https://www.youtube.com/watch?v=0Puv0Pss33M"><i class="fas fa-external-link-alt"></i> Welcome to the Antrhopocene.</a></p>
	<p><a href="https://www.youtube.com/watch?v=sacc_x-XB1Y"><i class="fas fa-external-link-alt"></i> Three Seconds.</a></p>
  {% if not session.username %}
    <p><a href="{{ url_for('auth.login') }}"><i class="fas fa-sign-in-alt"></i> login</a></p>
  {% else %}
    <p><a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> logout</a></p>
  {% endif %}
{% endblock %}
</div>
</body>
</html>
