{% extends "layout.html" %}
{% block body %}
<div id="page" class="container" style="background-color: white;">
	<div class="title">
		<h2>Lunch Scraper Subscription Center</h2>
	</div>
    {% if not user %}
  <form action="" method="post">
      <p><input type="text" name="email" placeholder="Your email.."></p>
      <p><input type="submit" value="Subscribe"></p>
  </form>
    {% else %}
			Preferences for {{ user['email'] }}
			<ul>
			{% for item in user['preferences'] %}
				<li>{{item}}</li>
			{% endfor %}
			</ul>
			This feature is under development.
    {% endif %}
</div>
{% endblock %}
