{% extends "layout.html" %}
{% set active_page = "trader" %}
{% block body %}
<div id="page" class="container" style="background-color: white;">
	<div class="title">
		<h2>BotFinex</h2>
		<span class="byline">{% print(data[-1]) %}</span>
	</div>
  <iframe src="{{ url_for('static', filename='graph.html')}}" style="width:1000px; height:600px; border: none;"></iframe>
	<ul class="actions">
		<li><a href="{{ url_for('trader_refresh') }}" class="button">Refresh</a></li>
	</ul>
  <h3>Script Log</h3>
  <ul>
    {% for line in data %}
     <li>{{ line }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
